COMPOSE_PROJECT_NAME=fandoogh
APP_PORT=8080
MYSQL_PORT=3306
MYSQL_DATABASE=fandoogh
MYSQL_TEST_DATABASE=fandoogh_test
MYSQL_USER=fandoogh
MYSQL_PASSWORD=fandoogh_dev
MYSQL_ROOT_PASSWORD=fandoogh_root_dev
