includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - bootstrap
        - database/seeders
        - routes
        - tests
    tmpDir: storage/framework/cache/phpstan
    treatPhpDocTypesAsCertain: false
