<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internal builds use the same HTTPS-only endpoint as production. -->
    <application
        android:label="دفتر املاکی (آزمایشی)"
        tools:replace="android:label" />
</manifest>
